<div class="font-semibold text-left text-zinc-700 text-sm">
<%= for link <- @links do%>
  <div class="py-4">
    <a class="underline text-base" href={link.url}><%= link.url %></a>
    <div class="flex gap-2">
      <.link class="text-zinc-500 hover:underline" href={~p"/links/#{link.id}/edit"}>Edit</.link> 
      <.link class="text-zinc-500 hover:underline" href={~p"/links/#{link.id}/edit"} method="delete" data-confirm="Are you sure?">Delete</.link> 
    </div>
  </div>
<% end %>
</div>
