<.header>
  New Import
  <:subtitle>Use this form to manage import records in your database.</:subtitle>
</.header>

<.import_form changeset={@changeset} action={~p"/imports"} />

<.back navigate={~p"/imports"}>Back to imports</.back>
