<.header>
  Import <%= @import.id %>
  <%= if @import.status == "completed" do %>
    on <%= HTMLHelpers.get_human_readable_local_datetime!(
      @import.completed_at,
      "%Y-%m-%d %H:%M"
    ) %>
  <% end %>
</.header>

<.list>
  <:item title="Status"><%= @import.status %></:item>
  <:item title="Type"><%= @import.type %></:item>
  <:item title="Data"><%= @import.data %></:item>
</.list>

<.back navigate={~p"/imports"}>Back to imports</.back>
