<a
  class={"""
  before:content-['{']
  after:content-['}']
  #{if @href == @conn.request_path, do: @active_classes, else: ""}
  #{if @href != @conn.request_path, do: @inactive_classes, else: ""}
  #{if @href != @conn.request_path, do: @hover_classes, else: ""}
  """}
  href={@href}
>
  <%= render_slot(@inner_block) %>
</a>
